*
{box-sizing: border-box;
margin: 0;
padding: 0;
}
.center{
display: flex;
max-width: 1366px;
margin: 0 auto;
padding:0 2%;
flex-wrap: wrap;
background-color: rgb(0, 0, 0);
}
header{
padding: 16px 0;
background-color: rgb(255, 255, 255);
}
.logo{
width: 90%;
padding: 16px 0;

}
.menu {
width: 50%;
text-align: right;
padding: 16px 0;
text-decoration: underline;
}


.menu a {
    color:white;
    font-style:oblique;
    
}
header img{
    height: 180px;
   
}
header h4{
    font-family:Verdana;
}

header h2{
    font-size:xx-large;
    color:black;
    margin-bottom: 8px;
    margin-top: 8px;
    font-family:Verdana;
    text-decoration: underline;
}
header a{
    background-color: rgb(36, 36, 41);
    color:white;
    padding: 8px;
   display: inline-block;
   font-family:Verdana;
   
}
.center{
    text-decoration: underline;
    font-family:Verdana;
}
.tec{
    text-decoration: underline;
    font-family:Verdana;
}
body a,body h2{
    text-decoration: none;
}

